/* Page HOME Styles */
.h-screen {
  height: 100vh;
}

.gradient {
  background: linear-gradient(to right, #b46558, #e0c385, #b46558);
  -webkit-background-clip: text;
  color: transparent;
}

/* TableTask */
.completed-task {
  text-decoration:line-through;
  color: dark;
  background-color: #d1cbcb;
  font-weight:normal;
  transition: background-color 0.5s ease;
}


/* Footer Styles */
.bg-footer {
  background: #191919;
}
